[Unit]
Description=Opentracker service
After=network.target

[Service]
ExecStart=/usr/bin/opentracker -f /etc/opentracker/opentracker.conf
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
